
#custom-bg {
    background-image: url("../image/wwang_040522_62.jpg");
    -webkit-background-size: cover; 
    -moz-background-size: cover;
    -o-background-size: cover; 
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
}

#text {
    font-weight: bold;
    font-size: large;
}

.col-md-12.jumbotron.text-center {
    background-image: url("../image/wwang_040522_62.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color:rgb(95, 207, 43);
} 